textblob
gensim
spacy>=2.2.0,<3.0.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz#egg=en_core_web_sm
nltk
matplotlib
pandas
streamlit
transformers
scikit-learn
pandas
bertopic 
wordcloud
plotly
seaborn 
numpy
gensim
docx
sentencepiece
torch